bots {
    foxdev {
        bot {
            nick: FoxBotNG
            // The bot's ident. Also known as user or login.
            ident: bot
            realname: FoxBotNG
            // When the bot receives a CTCP, it responds with the message from here.
            ctcp-replies {
                time: "Kitty time!"
            }
        }
        server {
            // The host to connect to.
            host: i.forgot.to.configure.my.bot
            port: 6667
            // Whether to use SSL.
            ssl: false
            // Whether to verify the server's SSL certificate.
            // Setting this to false is dangerous, consider adding the cert to your Java trust store instead.
            verify-ssl: true
            // A list of channels to connect to on startup.
            channels: ["#foxdev"]
            // An optional password in case the server requires it
            password: ""
        }
    }
    // You can specify more bots by simply copying the syntax above in multiple blocks
}